.container {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.athnaContainer {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border: 1px solid #555;
	border-radius: 4px;
	padding: 10px;
}

.prayerContainer{
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-gap: 1.5rem;
	font-size: 1.5rem;
	padding: 1rem 0;
	text-align: center;
}

.header {
	background-color: #555;
	color: #fff;
	padding: 0.5rem;
}

.prayerName{
	font-weight: 600;
}