.container {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.athnaContainer {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	border: 1px solid black;
	border-radius: 15px;
	padding-bottom: 0.5rem;
}

.prayerContainerHeader {
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 1fr));
	font-size: 1.2rem;
	text-align: center;
}

.prayerContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 1fr));
	font-size: 1.2rem;
	text-align: center;
	gap:0.5rem;
}

.header {
	display: grid;
	width: 100%;
	gap: 0.5rem;
	border-radius: 15px 15px 0 0;
	background-color: antiquewhite;
	padding-top: 0.5rem;
}

.ColumnHeader {
	font-weight: bold;
}

.headerText {
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
}

.prayerName {
	font-weight: 600;
}

.currentPrayer {
	color:brown
}

.qiblaText{
	background-color: antiquewhite;
	padding: .5rem 0rem;
	font-weight: bold;
	text-align: center;
}
