.container {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}

.athnaContainer {
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 4px;
}

.prayerContainer {
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 1fr));
	font-size: 1.2rem;
	text-align: center;
	border: 1px solid black;
	border-top: 0px;
}

.header {
	background-color: #555;
	color: #fff;
	padding: 0.5rem;
}

.prayerName {
	font-weight: 600;
}

.city {
	font-weight: 600;
	text-align: center;
	font-size: 1.2rem;
	padding: 0.5rem 0;
	background-color: #555;
	color: white;
}
